[data-cell~="head"][data-cell~="vertical"] {
    border-bottom: none;
}

[data-cell~="head"][data-cell~="horizontal"] {
    border-right: none;
}

[data-cell~="middle"][data-cell~="vertical"] {
    border-block: none;
}

[data-cell~="middle"][data-cell~="horizontal"] {
    border-inline: none;
}

[data-cell~="end"][data-cell~="vertical"] {
    border-top: none;
}

[data-cell~="end"][data-cell~="horizontal"] {
    border-left: none;
}