@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;800&display=swap');

@font-face {
    font-family: 'Shanghai';
    src: url('../fonts/shanghai.woff2') format('woff2'),
         url('../fonts/shanghai.ttf') format('truetype');
}

:root {
    --columns: 10;
    --rows: 10;
    --c-red: #AA381E;
    --oob: #dbba9a;
}

* {
    margin: 0;
}

body {
    background-color: #fce7cb;
    background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
    font-family: 'Sora', sans-serif;
    min-height: calc(100svh - 8px);
}

#logo {
    margin: 1rem 0 0;
    height: 5rem;
}

#logo + h1 {
    font-family: 'Shanghai';
    font-size: 2.8rem;
}

main {
    flex: 1;
    position: relative;
    width: 100%;
}

.stretch {
    align-self: stretch;
}

#start-game {
    background-color: transparent;
    font: bold 2rem 'Shanghai';
    position: absolute;
    top: 1rem;
}

.board {
    aspect-ratio: 1 / 1;
    border: 0.8rem double black;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);

    & button {
        cursor: crosshair;
    }
}

.placement {
    height: min(55svh, 35rem);
    margin-block: 2.2rem;

    & > * {
        border: 1px solid black;
        background-color: #fdead2;

        &[data-cell~="ship"] {
            background-color: var(--c-red);
        }
    }
}

.ships {
    & > .ship-placement {
        flex: 3;
        text-align: center;

        & > button {
            margin-block: 0.8rem;
        }
    }

    & > div:has(#delete, #rotate) {
        flex: 1;

        &  img {
            margin-block: 0.2rem;
            width: 2.5rem;
        }
    }
}

button {
    border: none;
    cursor: pointer;
}

.current {
    transform: scale(1.2);

    & + p {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.3rem;
    }
}

.disable:not(.square) {
    transform: scale(0.8);
    filter: contrast(0.5);
}

.transparent {
    background-color: transparent;
    border: none;
}

.grow {
    transition: 200ms ease;

    &:hover:not(:disabled) {
        transform: scale(1.2);
    }
}

.flex {
    display: flex;
}

.vert {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.around {
    justify-content: space-around;
    align-items: center;
}

.breathe {
    animation: breathe 2.4s linear infinite;
}

@keyframes breathe {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}