@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;800&display=swap');

@font-face {
    font-family: 'Shanghai';
    src: url('../fonts/shanghai.woff2') format('woff2'),
         url('../fonts/shanghai.ttf') format('truetype');
}

:root {
    --columns: 10;
    --rows: 10;
    --c-red: #AA381E;
    --oob: #dbba9a;
}

* {
    margin: 0;
    user-select: none;
}

body {
    background-color: #fce7cb;
    background-image: url("https://www.transparenttextures.com/patterns/paper-1.png");
    font-family: 'Sora', sans-serif;
    min-height: calc(100svh - 8px);
}

#logo {
    margin: 1rem 0 0;
    height: 5rem;
}

#logo + h1 {
    font-family: 'Shanghai';
    font-size: 2.8rem;
}

main {
    flex: 1;
    position: relative;

    & > div {
        width: 95vw;
    }
}

.stretch {
    align-self: stretch;
}

#start-game {
    background-color: transparent;
    font: bold 2rem 'Shanghai';
    position: absolute;
    top: 1rem;
}

#boards {
    align-items: center;
    gap: 1rem;
    width: 100%;

    & *:not(button) {
        transition: all 500ms ease-in;
    }

    & > div {
        overflow: hidden;

        &:not(.player-one) {
            flex: 0.00001;

            &:has(> img) {
                animation: flexGrowMid 500ms ease-in forwards;

                @keyframes flexGrowMid {
                    to {
                        flex: 1 0 0;
                    }
                }
            }

            &:has(> .board) {
                animation: flexGrowBoard 500ms ease-in forwards;

                @keyframes flexGrowBoard {
                    to {
                        flex: 3 0 0;
                    }
                }
            }
        }
    }

    & > div:has(> .board) {
        flex: 3 0 0;
        position: relative;
    }

    & .small {
        transform: scale(0.001);
    }
}

.cannon {
    font-family: 'Shanghai';
    text-align: center;

    & > h2 {
        @keyframes blink {
            to { opacity: 1; }
        }
    }

    & > img {
        width: 85%;
    }
}

.attack-result {
    position: fixed;
    //top: 26svh;
    opacity: 0;
    font: bold 3rem 'Shanghai';
    animation: 1800ms cubic-bezier(.35,.02,.27,1) bounce;

    @keyframes bounce {
        50% { transform: translateY(-3rem); opacity: 1; }
    }
}

.board {
    aspect-ratio: 1 / 1;
    border: 1rem double black;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    width: min(52vw, 30rem);
    margin-block: 2.2rem;

    &.player-two > button:hover:not(:disabled) {
        background-color: var(--oob);
    }

    & button {
        border: 1px solid black;
        background-color: #fdead2;
        cursor: crosshair;
    }
}

.ships {
    text-align: center;
    width: 50%;
    
    & > .ship-placement {
        flex: 3;

        & > button {
            margin-block: 0.8rem;
        }
    }

    & > div:has(#delete, #rotate) {
        flex: 1;

        &  img {
            margin-block: 0.2rem;
            width: 2.5rem;
        }
    }
}

.ball {
    background-color: black;
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: -8rem;
    z-index: 100;
}

button {
    border: none;
    cursor: pointer;
}

#winner {
    cursor: pointer;
    font: bold 5rem 'Shanghai';
    text-align: center;
}

.current {
    transform: scale(1.2);

    & + p {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.3rem;
    }
}

.disable:not(.square) {
    transform: scale(0.8);
    filter: contrast(0.5);
}

.transparent {
    background-color: transparent;
    border: none;
}

.grow {
    transition: 200ms ease;

    &:hover:not(:disabled) {
        transform: scale(1.2);
    }
}

.invisible {
    transition: none !important;
    visibility: hidden;
}

.flex {
    display: flex;
}

.vert {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.even {
    justify-content: space-evenly;
    align-items: center;
}

.breathe {
    animation: breathe 2.4s linear infinite;

    @keyframes breathe {
        0% { opacity: 0.5; }
        50% { opacity: 1; }
        100% { opacity: 0.5; }
    }
}